

.box {
    width: 10000px;
    height: 1000px;
    background-color: rgb(255, 0, 0);
    animation: flicker 1s infinite;
}

/* style.css */

/* Styling untuk button download */
#downloadButton {
    padding: 100px 200px;
    font-size: 160px;
    color: white;
    background-color: #4CAF50; /* Warna hijau */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* Hover effect pada button */
#downloadButton:hover {
    background-color: #45a049; /* Warna hijau lebih gelap */
    transform: scale(1.05); /* Memberikan efek zoom */
}

/* Styling untuk status download */
#downloadStatus {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

/* Styling untuk typing text */
#typingText {
    
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}
